<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <h2>Blog</h2>

    <p>
      <%= link_to "Créer un nouveau post", new_article_path %>
    </p>

    <table class="table">
      <thead>
        <tr>
          <th>Titre</th>
          <th>Description</th>
          <th>Auteur</th>
          <th>Actions</th>
        </tr>

      </thead>


    <% @articles.each do |article| %>

      <tr>
        <td><%= link_to article.title, article_path(article) %></td>
        <td><%= truncate(article.description, length: 50) %></td>
        <td><%= article.user.username if article.user %></td>
        <td> <%= link_to "Modifier", edit_article_path(article), class: "btn btn-xs btn-success" %></td>
        <td><%= link_to "Supprimer", article_path(article), method: :delete, class: "btn btn-xs btn-danger" %></td>

      </tr>

      <% end %>
    </table>
  </div>
</div>
